DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=role_genie

CLAUDE_API_KEY=
JSEARCH_API_KEY=

APP_ENV=development
APP_DEBUG=true

UPLOAD_DIR=uploads/resumes
MAX_UPLOAD_SIZE=5242880

#MAIL_HOST=localhost
#MAIL_PORT=587
#MAIL_USER=your_email@example.com
#MAIL_PASS=your_email_password
